@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .swiper-pagination-bullet {
    background-color: white !important;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: #DB4444 !important;
  }



  .container {
    @apply max-w-[1210px] w-full px-5 mx-auto
  }


 

  .menuLinks .active {
    @apply text-red-500 border-b border-black text-base
  }

  .menuLinks a {
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease-in;
  }

  .menuLinks a:hover {
    border-bottom-color: black;
  }
  .bar-popup{
    display:flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
    font-weight: 400;
  }
  .swiper-pagination-bullet-active{
    border: 1px solid white
  }



}

